.Item__Card {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 350px));
  column-gap: 60px;
  row-gap: 60px;
  margin-top: 40px;
  place-content: center;
  padding: 40px;
}

.Item__Card--Img {
  max-width: 450px;
  height: 80%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Item__Card--Img > img {
  max-width: 100%;
  max-height: 100%;
}

.Item {
  max-height: 381px;
}

.Item__Card--Detail {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Item__Card--Price {
  display: block;
  margin-top: 55px;
  font-family: 'Segoe UI';
  font-weight: bold;
  font-size: 18px;
  color: #202020;
  position: absolute;
}

.Item__Card--Detail a {
  text-decoration: none;
  color: black;
}

.Item__Card--Name {
  display: block;
  margin-top: 9px;
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: 17px;
  color: #484848;
}
