.Navbar__Content {
  background-color: #141414;
}

.Navabar__Logo {
  text-align: center;
  letter-spacing: 6px;
  font-size: 35px;
  color: #141414;
  padding: 0px 0 15px 0;
  font-family: 'Lexend Zetta', sans-serif;
  font-weight: bold;
  letter-spacing: 30px;
  border-bottom: 1px solid #787878;
}

.Navabar__Logo>a {
  text-decoration: none;
}

.Navabar__Logo>a>span {
  padding-top: 15px;
  display: block;
  color: #ffffff;
}

.Navbar {
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 55px;
}

.Navbar__Items {
  display: flex;
  list-style: none;
  justify-content: center;
  cursor: pointer;
}

.Navbar__Items>.Navbar__Link>a {
  text-decoration: none;
}

.Navbar__Items>.Navbar__Link>a {
  margin-right: 30px;
  color: #f5f5f5;
  font-family: 'Segoe UI';
  font-size: 18px;
}

.Navbar {
  display: flex;
  align-items: center;
  position: relative;
}

.Navbar__Cart {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Navbar__Cart a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f5f5f5;
}

.Navbar__Cart>i {
  color: #f5f5f5;
}

.Navbar__Cart--count {
  margin-left: 5px;
  color: #f5f5f5;
  font-family: 'Segoe UI';
}

.Navbar .LoginContent {
  position: relative;
  margin-right: 30px;
}

.Navbar .LoginContent>i,
.Navbar .LoginContent>span {
  color: #f5f5f5;
  cursor: pointer;
}

.LoginContent {
  margin-right: 30px;
  color: #f5f5f5;
  font-family: 'Segoe UI';
  font-size: 18px;
}

.BoxLogin {
  display: none;
}

.BoxLogin .buttonLogin {
  display: block;
  width: 142px;
  height: 44px;
  background: #f5f5f5;
  text-align: center;
  padding: 9px;
  color: #474735;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border-width: 2px;
  border-style: outset;
  border-color: #333;
}

.BoxLogin[data-show=true] {
  display: flex;
  width: 170px;
  height: 120px;
  position: absolute;
  color: #f5f5f5;
  top: 39px;
  background: rgba(71, 71, 71, 75%);
  left: -35px;
  justify-content: center;
  align-items: center;
  padding: 19px;
}

.BoxIsLogin {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.BoxIsLogin .Orders {
  display: block;
  width: 142px;
  height: 44px;
  text-align: center;
  padding: 9px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.BoxIsLogin .SesionClose{
  display: block;
  width: 142px;
  height: 44px;
  background: #f5f5f5;
  text-align: center;
  padding: 9px;
  color: #474735;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border-width: 2px;
  border-style: outset;
  border-color: #333;
}
