.Item__Count {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.Item__Count--btn {
    width: 25px;
    height: 25px;
    font-family: "Montserrat";
    background-color: #000;
    color: #f5f5f5;
    cursor: pointer;
}

.Item__Count--txt {
    width: 40px;
    text-align: center;
    margin: 0 10px;
    border: 1px solid #b4b4b4;
    padding-top: 3px;
}

.Item__Count--content {
    display: flex;
}

.Item__Count--cant {
    font-size: 14px;
    font-family: "oswald";
    margin-bottom: 3px;
}

.Item__Count--add {
    display: flex;
    margin-top: 30px;
}

.Item__Count--add > button {
    height: 35px;
    background-color: #0f0f0f;
    color: #f5f5f5;
    padding: 0 10px;
    cursor: pointer;
}
